<template>
    <main class="container text--amber-900">
    <div class="pt-4 mb-8 relative">
      <input
        type="text"
        v-model="searchQuery"
        @input="getSearchResults"
        placeholder="Search for a recipe or ingredient"
        class="py-2 px-1 w-full bg-transparent text-amber-900 border-b focus:border-weather-secondary focus:outline-none focus:shadow-[0px_1px_0_0_#004E71]"
      />
      <ul
        class="absolute bg-cook-peach w-full shadow-md py-2 px-1 top-[66px]"
        v-if="searchResults"
      >
        <p class="py-2" v-if="searchError">
          Sorry, something went wrong, please try again.
        </p>
        <p class="py-2" v-if="!searchError && searchResults.length === 0">
          No results match your query, try a different term.
        </p>
        <template v-else>
          <li
            v-for="res in searchResults"
            :key="res.id"
            class="py-2 cursor-pointer text--amber-900"
            @click="previewItem(res)"
          >
            {{ res.title }}
          </li>
        </template>
      </ul>
    </div>
    <div class="flex flex-col gap-4">
      <Suspense>
        <RecipeList />
        <template #fallback>
          
        </template>
      </Suspense>
    </div>
   
  </main>
</template>

<script setup>
import { ref } from "vue";
import axios from "axios";
import { useRouter } from "vue-router";
import RecipeList from "../components/RecipeList.vue";

const searchQuery = ref("");
const queryTimeout = ref(null);
const searchResults = ref(null);
const searchError = ref(null);

const getSearchResults = () => {
  clearTimeout(queryTimeout.value);
  queryTimeout.value = setTimeout(async () => {
    if (searchQuery.value !== "") {
      console.log("search", searchQuery);
      try {
        const options = {
          method: 'GET',
          url: 'https://spoonacular-recipe-food-nutrition-v1.p.rapidapi.com/recipes/complexSearch',
          params: {query: searchQuery.value, maxReadyTime: '20', sort: 'calories', sortDirection: 'asc'},
          headers: {
            'X-RapidAPI-Key': '894b201bf8msh77d4b8e3d7b397bp12dca0jsnc6604e37c248',
            'X-RapidAPI-Host': 'spoonacular-recipe-food-nutrition-v1.p.rapidapi.com'
          }
        };
        axios.request(options).then(function (response) {
          console.log(response.data.results);
          searchResults.value = response.data.results;
        }).catch(function (error) {
          console.error(error);
        });
        console.log(searchResults);

      } catch {
        searchError.value = true;
      }
      return;
    }
    mapboxSearchResults.value = null;
  }, 300);
};

const router = useRouter();

const previewItem = (item) => {
  router.push({
    name: "recipeView",
    params: { title: item.title},
    query: {
      name: item.title,
      id:item.id,
      img: item.image,
      preview: true,
    },
  })
};
</script>

