<template>
    <div>
        <Suspense>
            <template #default>
                <AsyncRecipeView />
            </template>
    </Suspense>
    </div>
  </template>
  
  <script setup>
  import AsyncRecipeView from "../components/AsyncRecipeView.vue";

  </script>
  