<template>
  <div
    v-if="route.query.preview"
    class="p-4 bg-gradient-to-r from-cook-peach to-cook-yellow w-full text-center flex-row"
  >
    <div class="flex flex-col items-center py-12">
      <div class="flex">
        <h1 class="text-4xl mb-2">{{ route.params.title }}</h1>
        <div class="flex gap-3 flex-1 justify-end">
          <i
            @click="addToFavorite"
            class="fa-solid fa-star text-base ml-3 my-2 hover:text-cook-secondary duration-150 cursor-pointer"
          ></i>
        </div>
      </div>

      <p class="text-sm mb-12">
        <img :src="route.query.img" alt="" />
      </p>

      <hr class="border-white border-opacity-10 border w-full" />

      <h2 class="my-6 text-2xl">Ingredients</h2>
      <div class="flex gap-10 overflow-x-scroll">
        <ul
          role="list"
          class="marker:text-sky-400 list-disc pl-5 space-y-3 text-slate-500"
        >
          <li
            v-for="ing in recipe.extendedIngredients"
            :key="ing.id"
            class="flex flex-col gap-4 items-center mb-12"
          >
            {{ ing.name }}
          </li>
        </ul>
      </div>

      <hr class="border-white border-opacity-10 border w-full" />

      <h2 class="text-2xl my-6">Instructions</h2>
      <p
        :v-if="recipe.analyzedInstructions[0].steps.length > 0"
        v-for="step in recipe.analyzedInstructions[0].steps"
        :key="step.number"
        class="flex flex-col gap-4 items-center"
      >
        {{ step.step }}
      </p>
    </div>
    <button
      @click="removeFromFavorites()"
      class="bg-cook-peach text-gray-800 hover:bg-cook-beige font-semibold py-2 px-4 border border-white-400 rounded shadow"
    >
      Remove from favorites
    </button>
  </div>
</template>

<script setup>
import { ref } from "vue";
import axios from "axios";
import { useRouter, useRoute } from "vue-router";

import { useStore } from 'vuex'
import { computed } from 'vue'

const store = useStore();
const route = useRoute();
const router = useRouter();
const savedRecipes = ref([]);

const getRecipe = async () => {
  const options = {
    method: "GET",
    url: `https://spoonacular-recipe-food-nutrition-v1.p.rapidapi.com/recipes/${route.query.id}/information`,
    headers: {
      "X-RapidAPI-Key": "894b201bf8msh77d4b8e3d7b397bp12dca0jsnc6604e37c248",
      "X-RapidAPI-Host": "spoonacular-recipe-food-nutrition-v1.p.rapidapi.com",
    },
  };
  const res = await axios.request(options);
  return res.data;
};

const recipe = await getRecipe();

const addToFavorite = async () => {
  if (localStorage.getItem("savedRecipes")) {
    savedRecipes.value = JSON.parse(localStorage.getItem("savedRecipes"));
    console.log(savedRecipes.value);
  }
  const recipeObj = {
    name: route.query.name,
    id: route.query.id,
    img: route.query.img,
  };

  console.log(recipeObj);
  savedRecipes.value.push(recipeObj);
  localStorage.setItem("savedRecipes", JSON.stringify(savedRecipes.value));
  store.commit("addToFavorites", recipeObj)
};

const removeFromFavorites = async () => {
  store.commit("deleteFromFavorites", route.query.id);

  if (localStorage.getItem("savedRecipes")) {
    savedRecipes.value = JSON.parse(localStorage.getItem("savedRecipes"));
  }
  savedRecipes.value = savedRecipes.value.filter(
    (el) => el.id !== route.query.id
  );
  localStorage.setItem("savedRecipes", JSON.stringify(savedRecipes.value));

  router.push({
    name: "home"
  })
};
</script>

<style></style>
