<template>
    <div>
        <div class="py-6" v-for="recipe in savedR" :key="recipe.id">
            <RecipeCard :recipe="recipe" @delete="(id)=>removeFromFavorites(id)"  />
        </div>
        <p v-if="savedRecipes.length === 0">
            No recipes added. Search in the field above.
        </p>
    </div>
</template>

<script setup>
import RecipeCard from "./RecipeCard.vue";
import axios from "axios";
import { ref } from "vue";
import { useRouter } from "vue-router";
import { useStore } from 'vuex'
import { computed } from 'vue'
const store = useStore()
const router = useRouter();
const savedRecipes = ref([]);
const savedR = computed(() => store.state.savedRecipes)

    
const getRecipes = async () => {
    if (localStorage.getItem("savedRecipes")) {
        savedRecipes.value = JSON.parse(localStorage.getItem("savedRecipes"));
        
        if(savedRecipes.value.length>0){
            const requests = [];
            savedRecipes.value.forEach(async(recipe) => {
            const options = {
                method: 'GET',
                url: `https://spoonacular-recipe-food-nutrition-v1.p.rapidapi.com/recipes/${recipe.id}/information`,
                headers: {
                    'X-RapidAPI-Key': '894b201bf8msh77d4b8e3d7b397bp12dca0jsnc6604e37c248',
                    'X-RapidAPI-Host': 'spoonacular-recipe-food-nutrition-v1.p.rapidapi.com'
                }
            };
            requests.push(axios.request(options));
            const recipesData = await Promise.all(requests);
            console.log("data :", recipesData);
            
            recipesData.forEach((value, index) => {
                savedRecipes.value[index].recipe = value.data;
            });
            store.commit("setSavedRecipes", savedRecipes.value);
        });
        } 
        
    }
};

const removeFromFavorites = async (id) => {
    console.log("remove", id)
    store.commit("deleteFromFavorites", id);

    if (localStorage.getItem("savedRecipes")) {
    savedRecipes.value = JSON.parse(localStorage.getItem("savedRecipes"));
    }
    savedRecipes.value = savedRecipes.value.filter(
    (el) => el.id !== id
    );
    localStorage.setItem("savedRecipes", JSON.stringify(savedRecipes.value));
};
    
await getRecipes();


</script>



