<template>
  <div
    class="flex mx-auto py-6 px-3 bg-gradient-to-r from-cook-peach to-cook-yellow bg-cook-peach rounded-md shadow-lg cursor-pointer"
  >
  
    <div class="flex flex-col flex-1">
      {{recipe.id}}
      
      <h2 @click="goToRecipeView(recipe)" class="text-3xl">{{ recipe.name }}</h2>
      <span v-if="recipe.recipe" class="text-xs"
        >{{ recipe.recipe.vegetarian ? "Vegetarian " : "" }}
        {{ recipe.recipe.vegan ? " Vegan" : "" }}
      </span>
      <span v-if="recipe.recipe" class="text-xs"
        >{{ recipe.recipe.glutenFree ? "Gluten free " : "" }}
        {{ recipe.recipe.dairyFree ? "Dairy free " : "" }}</span
      >
    </div>
    <div class="flex flex-col gap-2">
      <img :src="recipe.img" @click="goToRecipeView(recipe)"/>
      <p class="text-3xl self-end"></p>
      <div class="flex pr-2 flex-row-reverse text-amber-700 hover:text-amber-900">
        <i class="fa-solid fa-trash cook-pink" @click="$emit('delete', recipe.id)"></i>
      </div>
    </div>
  </div>
</template>

<script setup>
import { useRouter } from "vue-router";
const router = useRouter();

defineProps({
  recipe: {
    type: Object,
    default: () => {},
  },
});
const goToRecipeView = (recipe) => {
    console.log("pushing", recipe.name);
    router.push({
        name: "recipeView",
        params: { title: recipe.name ? recipe.name : recipe.title },
        query: {
            id: recipe.id,
            img: recipe.img,
            name: recipe.name,
            preview: true,
        },
    });
};
</script>
