<template>
  <header class="sticky top-0 bg-cook-peach shadow-lg">
    <nav
      class="container flex flex-col sm:flex-row items-center gap-4 text-amber-900 py-6"
    >
      <RouterLink :to="{ name: 'home' }">
        <div class="flex items-center gap-3">
          <i class="fa-solid fa-sun text-2xl"></i>
          <p class="text-2xl hover:font-bold">The Local Chef</p>
        </div>
      </RouterLink>

      <div class="flex gap-3 flex-1 justify-end">
        <i
          class="fa-solid fa-circle-info text-xl hover:text-2xl duration-150 cursor-pointer"
        ></i>
      </div>
    </nav>
  </header>
</template>

<script setup></script>
